TODO*.txt
.cache
libc/.cache
bin
lua
vim
readline
tinycc
libc-test
compile_commands.json
libc/compile_commands.json
libc/lib
qemu
qemu_logs.txt
*.img
*.qcow2
shell/*.o
shell/shell
shell/count
shell/compile_commands.json
vfs
